dataExport/src/java/assaySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>All of the individual schema needed to do a data export</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="coreSchema.xsd"/>
    <xs:element name="assay">
        <xs:annotation>
            <xs:documentation>Models an assay in the CAP. Maps to a mime type of
application/vnd.bard.cap+xml;type=assay</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="" name="assayTitle">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="250"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="assayName">
                    <xs:annotation>
                        <xs:documentation>Name of the assay. Is this required?
                                                                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="designedBy" type="xs:string"/>
                <xs:element minOccurs="0" name="assayContexts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="assayContext">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="contextName" type="xs:string"/>
                                        <xs:element ref="assayContextItems"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="measures">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="measure">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="resultTypeRef">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute name="label" type="xs:string"
                                                  use="required">
                                                  <xs:annotation>
                                                  <xs:documentation>label on Element that this references</xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="entryUnit">
                                            <xs:annotation>
                                                <xs:documentation>Unit and a link to the Unit element in the dictionary</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" ref="link"/>
                                                </xs:sequence>
                                                <xs:attribute name="unit" type="xs:string"
                                                  use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="assayContextRef" type="xs:string"
                                        use="optional">
                                        <xs:annotation>
                                            <xs:documentation>References the measure context name</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="parentMeasure" type="bardID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="assayContextItems"/>
                <xs:element minOccurs="0" name="assayDocuments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="assayDocument"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
            <xs:attribute name="assayId" type="bardID"/>
            <xs:attribute default="1 " name="assayVersion" use="optional">
                <xs:annotation>
                    <xs:documentation>The assay version
                                                                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Active"/>
                        <xs:enumeration value="Superceded"/>
                        <xs:enumeration value="Retired"/>

                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="readyForExtraction"/>
            <xs:attribute name="assayType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Regular"/>
                        <xs:enumeration value="Panel - Array"/>
                        <xs:enumeration value="Panel - Group"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        <xs:key name="MeasureContext_Key">
            <xs:selector xpath="assay/measureContexts/measureContext"/>
            <xs:field xpath="contextName"/>
        </xs:key>
        <xs:keyref name="MeasureContext_KeyRef" refer="MeasureContext_Key">
            <xs:selector
                xpath="assay/measures/measure | assay/measureContextItems/measureContextItem"/>
            <xs:field xpath="@measureContextRef"/>
        </xs:keyref>
        <xs:key name="MeasureContextItem_Key">
            <xs:selector xpath="assay/measureContextItems/measureContextItem"/>
            <xs:field xpath="@measureContextItemId"/>
        </xs:key>
        <xs:keyref name="MeasureContextItem_KeyRef" refer="MeasureContextItem_Key">
            <xs:selector
                xpath="assay/measureContextItems/measureContextItem | assay/measureContextItemRefs/measureContextItemRef"/>
            <xs:field xpath="@measureContextItemRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="assays">
        <xs:annotation>
            <xs:documentation>Links to Assays available for extraction</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>The number of available assays</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="assayDocument">
        <xs:complexType>
            <xs:sequence>



                <xs:element name="documentName">
                    <xs:annotation>
                        <xs:documentation>
                                                                                                  The "VARCHAR2" type from the data base was mapped to "xs:string" XML Schema type.
                                                                                              </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="500"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="documentContent" type="xs:string"/>
                <xs:element minOccurs="0" ref="link"/>
            </xs:sequence>
            <xs:attribute name="documentType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Description"/>
                        <xs:enumeration value="Protocol"/>
                        <xs:enumeration value="Comments"/>
                        <xs:enumeration value="Paper"/>
                        <xs:enumeration value="External URL"/>
                        <xs:enumeration value="Other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="assayContextItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="assayContextItem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="valueId">
                                <xs:annotation>
                                    <xs:documentation>The label references the label of the element that it references</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="label" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Label on an element in the dictionary</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="attributeId">
                                <xs:annotation>
                                    <xs:documentation>The label references the label of the element that it references</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" maxOccurs="1" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="attributeType" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="List"/>
                                                <xs:enumeration value="Range"/>
                                                <xs:enumeration value="Number"/>
                                                <xs:enumeration value="Fixed"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="label" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="extValueId" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="assayContextItemId" type="bardID" use="required"/>
                        <xs:attribute name="assayContextRef" type="xs:string"/>
                        <xs:attribute name="qualifier" type="xs:string"/>
                        <xs:attribute name="valueNum" type="xs:double"/>
                        <xs:attribute name="valueMin" type="xs:double"/>
                        <xs:attribute name="valueMax" type="xs:double"/>
                        <xs:attribute name="valueDisplay" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
