dataExport/src/java/assaySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>All of the individual schema needed to do a data export</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="coreSchema.xsd"/>

    <xs:element name="assay">
        <xs:annotation>
            <xs:documentation>Models an assay in the CAP. Maps to a mime type of
application/vnd.bard.cap+xml;type=assay</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="" name="assayShortName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="250"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="assayName">
                    <xs:annotation>
                        <xs:documentation>Name of the assay. Is this required?
                                                                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="1000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="designedBy" type="xs:string"/>
                <xs:element minOccurs="0" name="assayContexts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="assayContext">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="contextName" type="xs:string"/>
                                        <xs:element minOccurs="0" name="contextGroup"
                                            type="xs:string"/>
                                        <xs:element minOccurs="1" name="displayOrder"
                                            nillable="false" type="xs:int"/>
                                        <xs:element ref="assayContextItems"/>
                                        <xs:element minOccurs="0" name="measureRefs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  name="measureRef" type="bardID"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="assayContextId" type="bardID" use="required"
                                    />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="measures">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="measure">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="resultTypeRef">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute name="label" type="xs:string"
                                                  use="required">
                                                  <xs:annotation>
                                                  <xs:documentation>label on Element that this references</xs:documentation>
                                                  </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="statsModifierRef">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" ref="link"/>
                                                </xs:sequence>
                                                <xs:attribute name="label" type="xs:string"
                                                  use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="entryUnitRef">
                                            <xs:annotation>
                                                <xs:documentation>Unit and a link to the Unit element in the dictionary</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" ref="link"/>
                                                </xs:sequence>
                                                <xs:attribute name="unit" type="xs:string"
                                                  use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="assayContextRefs">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded"
                                                  name="assayContextRef" type="bardID"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="measureId" type="bardID" use="required"/>
                                    <xs:attribute name="parentMeasureRef" type="bardID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="assayDocuments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="assayDocument"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
            <xs:attribute name="assayId" type="bardID"/>
            <xs:attribute default="1 " name="assayVersion" use="optional">
                <xs:annotation>
                    <xs:documentation>The assay version
                                                                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Active"/>
                        <xs:enumeration value="Superceded"/>
                        <xs:enumeration value="Retired"/>

                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="readyForExtraction"/>
            <xs:attribute name="assayType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Regular"/>
                        <xs:enumeration value="Panel - Array"/>
                        <xs:enumeration value="Panel - Group"/>
                        <xs:enumeration value="Template"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        <xs:key name="AssayContext_Key">
            <xs:selector xpath="assayContexts/assayContext"/>
            <xs:field xpath="@assayContextId"/>
        </xs:key>
        <xs:key name="AssayContextItem_Key">
            <xs:selector xpath="assayContexts/assayContext/assayContextItems/assayContextItem"/>
            <xs:field xpath="@assayContextItemId"/>
        </xs:key>
        <xs:key name="Measure_Key">
            <xs:selector xpath="measures/measure"/>
            <xs:field xpath="@measureId"/>
        </xs:key>
        <xs:keyref name="Measure_KeyRef" refer="Measure_Key">
            <xs:selector xpath="assayContexts/assayContext/measureRefs/measureRef"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <xs:keyref name="AssayContext_KeyRef" refer="AssayContext_Key">
            <xs:selector xpath="measures/measure/assayContextRefs/assayContextRef"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <xs:keyref name="ParentMeasure_KeyRef" refer="Measure_Key">
            <xs:selector xpath="measures/measure"/>
            <xs:field xpath="@parentMeasureRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="assays">
        <xs:annotation>
            <xs:documentation>Links to Assays available for extraction</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>The number of available assays</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="assayDocument" type="documentType"> </xs:element>
    <xs:element name="assayContextItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="assayContextItem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="valueId">
                                <xs:annotation>
                                    <xs:documentation>The label references the label of the element that it references</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="label" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Label on an element in the dictionary</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="attributeId">
                                <xs:annotation>
                                    <xs:documentation>The label references the label of the element that it references</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" maxOccurs="1" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="attributeType" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="List"/>
                                                <xs:enumeration value="Range"/>
                                                <xs:enumeration value="Number"/>
                                                <xs:enumeration value="Fixed"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="label" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="extValueId" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="assayContextItemId" type="bardID" use="required"/>
                        <xs:attribute name="displayOrder" type="xs:int" use="required"/>
                        <xs:attribute name="qualifier" type="xs:string"/>
                        <xs:attribute name="valueNum" type="xs:double"/>
                        <xs:attribute name="valueMin" type="xs:double"/>
                        <xs:attribute name="valueMax" type="xs:double"/>
                        <xs:attribute name="valueDisplay" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
