data-export/BARDexportSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>All of the individual schema needed to do a data export</xs:documentation>
    </xs:annotation>
    <xs:element name="bardexport">
        <xs:annotation>
            <xs:documentation>The root of the service.
Here links for projects, assays, experiments
dictionary and the cap are displayed
Fetching the cap will also fetch all the existing projects</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="element">
        <xs:annotation>
            <xs:documentation>Models a dictionary element.
Doing an HTTP get to the href of a link of type application/vnd.bard.cap+xml;type=element
will give you this element

</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="label" type="xs:string"/>
                <xs:element minOccurs="0" ref="description"/>
                <xs:element minOccurs="0" name="synonyms" type="xs:string"/>
                <xs:element minOccurs="0" name="externalUrl" type="xs:anyURI"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="link"/>
            </xs:sequence>
            <xs:attribute name="elementId" type="bardID" use="required"/>
            <xs:attribute name="elementStatus">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Published"/>
                        <xs:enumeration value="Deprecated"/>
                        <xs:enumeration value="Retired"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="abbreviation" type="xs:string"/>
            <xs:attribute name="unit" type="xs:string"/>
            <xs:attribute ref="readyForExtraction" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stageName">
                    <xs:annotation>
                        <xs:documentation>The current stage
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="128"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" ref="description">
                    <xs:annotation>
                        <xs:documentation>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="stageId" type="bardID" use="required"/>
            <xs:attribute name="parentStageId" type="bardID" use="optional"/>
            <xs:attribute name="stageStatus" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dictionary">
        <xs:annotation>
            <xs:documentation>Holds the whole dictionary
Doing an HTTP get with a link of type
application/vnd.bard.cap+xml;type=dictionary should give the client the entire dictionary</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="elements">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="element"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="elementHierarchies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="elementHierarchy" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="relationshipType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="supported by"/>
                                                  <xs:enumeration value="child of"/>
                                                  <xs:enumeration value="has_a"/>
                                                  <xs:enumeration value="derives from"/>
                                                  <xs:enumeration value="is_a"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="parentElementId" type="bardID"
                                        use="optional"/>
                                    <xs:attribute name="childElementId" type="bardID" use="required"
                                    />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="resultTypes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="resultType"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="ResultType_Key">
                        <xs:selector xpath="resultType"/>
                        <xs:field xpath="@resultTypeId"/>
                    </xs:key>
                    <xs:keyref name="ResultType_KeyRef" refer="ResultType_Key">
                        <xs:selector xpath="resultType"/>
                        <xs:field xpath="@parentResultTypeId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="stages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="stage"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Stage_Key">
                        <xs:selector xpath="stage"/>
                        <xs:field xpath="@stageId"/>
                    </xs:key>
                    <xs:keyref name="Stage_KeyRef" refer="Stage_Key">
                        <xs:selector xpath="stage"/>
                        <xs:field xpath="@parentStageId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="biologyDescriptors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="biologyDescriptor"
                                type="descriptorType"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Biology_Descriptor_Key">
                        <xs:selector xpath="biologyDescriptor"/>
                        <xs:field xpath="@descriptorId"/>
                    </xs:key>
                    <xs:keyref name="Biology_Descriptor_KeyRef" refer="Biology_Descriptor_Key">
                        <xs:selector xpath="biologyDescriptor"/>
                        <xs:field xpath="@parentDescriptorId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="assayDescriptors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="assayDescriptor"
                                type="descriptorType"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Assay_Descriptor_Key">
                        <xs:selector xpath="assayDescriptor"/>
                        <xs:field xpath="@descriptorId"/>
                    </xs:key>
                    <xs:keyref name="Assay_Descriptor_KeyRef" refer="Assay_Descriptor_Key">
                        <xs:selector xpath="assayDescriptor"/>
                        <xs:field xpath="@parentDescriptorId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="instanceDescriptors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="instanceDescriptor"
                                type="descriptorType"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Instance_Descriptor_Key">
                        <xs:selector xpath="instanceDescriptor"/>
                        <xs:field xpath="@descriptorId"/>
                    </xs:key>
                    <xs:keyref name="Instance_Descriptor_KeyRef" refer="Instance_Descriptor_Key">
                        <xs:selector xpath="instanceDescriptor"/>
                        <xs:field xpath="@parentDescriptorId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="laboratories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="laboratory">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="laboratory" type="xs:string"/>
                                        <xs:element minOccurs="0" ref="description"/>
                                    </xs:sequence>
                                    <xs:attribute name="laboratoryId" type="bardID" use="required"/>
                                    <xs:attribute name="parentLaboratoryId" type="bardID"/>
                                    <xs:attribute name="laboratoryStatus" type="xs:string"
                                        use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Laboratory_Key">
                        <xs:selector xpath="laboratory"/>
                        <xs:field xpath="@laboratoryId"/>
                    </xs:key>
                    <xs:keyref name="Laboratory_KeyRef" refer="Laboratory_Key">
                        <xs:selector xpath="laboratory"/>
                        <xs:field xpath="@parentLaboratoryId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="units">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="unit">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" ref="description"/>
                                    </xs:sequence>
                                    <xs:attribute name="unitId" type="bardID" use="required"/>
                                    <xs:attribute name="parentUnitId" type="bardID" use="optional"/>
                                    <xs:attribute name="unit" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="Unit_Key">
                        <xs:selector xpath="units/unit"/>
                        <xs:field xpath="@unitId"/>
                    </xs:key>
                    <xs:keyref name="Unit_KeyRef" refer="Unit_Key">
                        <xs:selector xpath="units/unit"/>
                        <xs:field xpath="@parentUnitId"/>
                    </xs:keyref>
                </xs:element>
                <xs:element minOccurs="0" name="unitConversions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="unitConversion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="formula" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="fromUnit" type="xs:string" use="required"/>
                                    <xs:attribute name="toUnit" type="xs:string" use="required"/>
                                    <xs:attribute name="multiplier" type="xs:double"/>
                                    <xs:attribute name="offset" type="xs:double"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="Element_Key">
            <xs:annotation>
                <xs:documentation>A definition to say that the elementId attribute on an element must be unique throughout this document</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="dictionary/elements/element"/>
            <xs:field xpath="@elementId"/>
        </xs:key>
        <xs:keyref name="Element_KeyRef" refer="Element_Key">
            <xs:annotation>
                <xs:documentation>Any element that references an elementId</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="dictionary/elementHierarchies/elementHierarchy"/>
            <xs:field xpath="@parentElementId | @childElementId"/>
        </xs:keyref>
        <xs:key name="Unit_Key_Name">
            <xs:annotation>
                <xs:documentation>Signifies that the unit attribute on a Unit element must be unique throughout this document</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="units/unit"/>
            <xs:field xpath="@unit"/>
        </xs:key>
        <xs:keyref name="Element_Unit_KeyNameRef" refer="Unit_Key_Name">
            <xs:annotation>
                <xs:documentation>The unit attribute on an element object must reference a Unit Key in this document</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="elements/element"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>
        <xs:keyref name="Unit_Descriptor_KeyRef" refer="Unit_Key_Name">
            <xs:annotation>
                <xs:documentation>The unit attribute on the descriptors (instance, ass and biology)
should reference a unit</xs:documentation>
            </xs:annotation>
            <xs:selector
                xpath="assayDescriptiors/assayDescriptor|biologyDescriptiors/biologyDescriptor|instanceDescriptiors/instanceDescriptor"/>
            <xs:field xpath="@unit"/>
        </xs:keyref>
        <xs:keyref name="ResultType_BaseUnit_KeyNameRef" refer="Unit_Key_Name">
            <xs:selector xpath="resultTypes/resultType"/>
            <xs:field xpath="@baseUnit"/>
        </xs:keyref>
        <xs:keyref name="UnitConversion_FromUnit_KeyNameRef" refer="Unit_Key_Name">
            <xs:selector xpath="unitConversions/unitConversion"/>
            <xs:field xpath="@fromUnit"/>
        </xs:keyref>
        <xs:keyref name="UnitConversion_ToUnit_KeyNameRef" refer="Unit_Key_Name">
            <xs:selector xpath="unitConversions/unitConversion"/>
            <xs:field xpath="@toUnit"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="resultType">
        <xs:annotation>
            <xs:documentation>Models a result type from the dictionary.
maps to the mime type :
application/vnd.bard.cap+xml;type=resultType</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultTypeName" type="xs:string"/>
                <xs:element minOccurs="0" ref="description"/>
                <xs:element minOccurs="0" name="synonyms" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="resultTypeId" type="bardID" use="required"> </xs:attribute>
            <xs:attribute name="parentResultTypeId" type="bardID" use="optional"> </xs:attribute>
            <xs:attribute name="abbreviation" type="xs:string"/>
            <xs:attribute name="baseUnit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A reference to a unit</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="resultTypeStatus" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Published"/>
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Deprecated"/>
                        <xs:enumeration value="Retired"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="projects">
        <xs:annotation>
            <xs:documentation>The list of projects in the CAP.
These can be filtered to a specific project depending on the query</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="project" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cap">
        <xs:annotation>
            <xs:documentation>The root element for all the CAP data.
By default all the data in the CAP is returned, but it can also be filtered per project or assay

We use XML schema's key/keyref synthax to validate foreign keys used in this part of the document</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="projects"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="Assay_Key">
            <xs:selector xpath="projects/project/projectAssays/projectAssay/assay"/>
            <xs:field xpath="@assayId"/>
        </xs:key>
        <xs:keyref name="Assay_KeyRef" refer="Assay_Key">
            <xs:selector xpath="projects/project/projectAssays/projectAssay"/>
            <xs:field xpath="@relatedAssayRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="assay">
        <xs:annotation>
            <xs:documentation>Models an assay in the CAP. Maps to a mime type of
application/vnd.bard.cap+xml;type=assay</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="assayName">
                    <xs:annotation>
                        <xs:documentation>Name of the assay. Is this required?
                                                                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="128"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" ref="description">
                    <xs:annotation>
                        <xs:documentation>
                                                                      </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="designedBy" type="xs:string"/>
                <xs:element minOccurs="0" name="externalAssays">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="externalAssay">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="externalSystem">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="systemName">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                                                  The "VARCHAR2" type from the data base was mapped to "xs:string" XML Schema type.
                                                                                              </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="128"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="owner" nillable="true">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                                                                  The "VARCHAR2" type from the data base was mapped to "xs:string" XML Schema type.
                                                                                              </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="128"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="systemUrl" type="xs:anyURI"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="externalAssayId" type="xs:string"
                                        use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="measures">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="measure">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="resultTypeRef">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="measureId" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="bardID">
                                                <xs:minInclusive value="0"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="measureContextRef" type="bardID"
                                        use="optional"/>
                                    <xs:attribute name="measureRef" type="bardID"/>
                                    <xs:attribute name="entryUnit" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="measureContexts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="measureContext">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="contextName" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="measureContextId" type="bardID"
                                        use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="measureContextItems">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="measureContextItem">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="valueId">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="attributeId">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="measureContextItemId" type="bardID"
                                        use="required"/>
                                    <xs:attribute name="measureContextItemRef" type="bardID">
                                        <xs:annotation>
                                            <xs:documentation>Points to the parent group</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="measureContextRef" type="bardID"/>
                                    <xs:attribute name="qualifier" type="xs:string"/>
                                    <xs:attribute name="attributeType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="List"/>
                                                <xs:enumeration value="Range"/>
                                                <xs:enumeration value="Number"/>
                                                <xs:enumeration value="Fixed"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="valueDisplay" type="xs:string"/>
                                    <xs:attribute name="valueNum" type="xs:double"/>
                                    <xs:attribute name="valueMin" type="xs:double"/>
                                    <xs:attribute name="valueMax" type="xs:double"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="assayDocuments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="assayDocument" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>



                                        <xs:element name="documentName">
                                            <xs:annotation>
                                                <xs:documentation>
                                                                                                  The "VARCHAR2" type from the data base was mapped to "xs:string" XML Schema type.
                                                                                              </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="500"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="uri" type="xs:anyURI"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="link"/>
            </xs:sequence>
            <xs:attribute name="assayId" use="required">
                <xs:annotation>
                    <xs:documentation>The unique assay Id
                                                                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="bardID"> </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute default="1 " name="assayVersion" use="optional">
                <xs:annotation>
                    <xs:documentation>The assay version
                                                                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Active"/>
                        <xs:enumeration value="Superceded"/>
                        <xs:enumeration value="Retired"/>

                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="readyForExtraction"/>
        </xs:complexType>
        <xs:key name="MeasureContext_Key">
            <xs:selector xpath="measureContexts/measureContext"/>
            <xs:field xpath="@measureContextId"/>
        </xs:key>
        <xs:keyref name="MeasureContext_KeyRef" refer="MeasureContext_Key">
            <xs:selector xpath="measures/measure | measureContextItems/measureContextItem"/>
            <xs:field xpath="@measureContextRef"/>
        </xs:keyref>
        <xs:key name="Measure_Key">
            <xs:selector xpath="measures/measure"/>
            <xs:field xpath="@measureId"/>
        </xs:key>
        <xs:keyref name="Measure_KeyRef" refer="Measure_Key">
            <xs:selector xpath="measures/measure"/>
            <xs:field xpath="@measureRef"/>
        </xs:keyref>
        <xs:key name="MeasureContextItem_Key">
            <xs:selector xpath="measureContextItems/measureContextItem"/>
            <xs:field xpath="@measureContextItemId"/>
        </xs:key>
        <xs:keyref name="MeasureContextItem_KeyRef" refer="MeasureContextItem_Key">
            <xs:selector
                xpath="measureContextItems/measureContextItem | measureContextItemRefs/measureContextItemRef"/>
            <xs:field xpath="@measureContextItemRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="project">
        <xs:annotation>
            <xs:documentation>Models a project in the cap. Maps to
application/vnd.bard.cap+xml;type=project</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projectName">
                    <xs:annotation>
                        <xs:documentation>Name of current Project
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="256"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" ref="description">
                    <xs:annotation>
                        <xs:documentation>Description for current element
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="projectAssays">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="projectAssay">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element minOccurs="0" name="promotionCriteria"
                                            nillable="true">
                                            <xs:annotation>
                                                <xs:documentation>
                        </xs:documentation>
                                            </xs:annotation>
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="stage">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element ref="link"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element ref="assay"/>
                                    </xs:sequence>
                                    <xs:attribute name="relatedAssayRef" type="bardID"/>
                                    <xs:attribute name="sequenceNumber" type="xs:decimal"/>
                                    <xs:attribute name="promotionThreshold" type="xs:double"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="link"/>
            </xs:sequence>
            <xs:attribute name="projectId" type="bardID" use="required"/>
            <xs:attribute name="groupType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Project"/>
                        <xs:enumeration value="Campaign"/>
                        <xs:enumeration value="Panel"/>
                        <xs:enumeration value="Study"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="readyForExtraction"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="experiments">
        <xs:annotation>
            <xs:documentation>Links to all experiment's that have not yet been uploaded by client.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element maxOccurs="unbounded" ref="experiment"/>
                <xs:element ref="link" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Link to next list of experiment's
application/vnd.bard.cap+xml;type=experiments
</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="experiment">
        <xs:annotation>
            <xs:documentation>There are links to the assay and project that this experiment belongs.
There are also links to the set of results, resultContextItems
and the Result Hierarchy associated to this experiment

The link with 'edit' relation should be used to set the status of this experiment to 'uploaded' once it is consumed</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="experimentStatus" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="description"/>
                <xs:element minOccurs="0" ref="resultContextItems"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="link">
                    <xs:annotation>
                        <xs:documentation>Link to self
Link to results
Link to Project and Assay</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="numberOfResults" type="xs:integer" use="optional"/>
            <xs:attribute name="experimentName" type="xs:string" use="required"/>
            <xs:attribute name="holdUntilDate" type="xs:dateTime" use="optional"/>
            <xs:attribute name="runDateFrom" type="xs:dateTime" use="optional"/>
            <xs:attribute name="runDateTo" type="xs:dateTime" use="optional"/>
            <xs:attribute ref="readyForExtraction" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="results">
        <xs:annotation>
            <xs:documentation>The results of a given experiment.
If more than 5000 for a given experiment, links are provided to get the next set of results</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="unbounded" ref="link">
                    <xs:annotation>
                        <xs:documentation>Link to next set of results
Link to parent experiment
</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="optional">
                <xs:annotation>
                    <xs:documentation>The number of results associated with this object</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="result">
        <xs:annotation>
            <xs:documentation>An individual results. Has links back to parent experiment and to result types  and elements from the dictionary</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="status"/>
                <xs:element minOccurs="0" name="substance">
                    <xs:complexType>
                        <xs:attribute name="url" type="xs:anyURI">
                            <xs:annotation>
                                <xs:documentation>Link to the pubchem SID</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="resultContextItems"/>
                <xs:element minOccurs="0" name="resultHierarchy" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="parentResultId" type="xs:long"/>
                        <xs:attribute name="hierarchyType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Child"/>
                                    <xs:enumeration value="Derives"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="link">
                    <xs:annotation>
                        <xs:documentation>Link to experiment and next list of results if any</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="valueDisplay" type="xs:string" use="optional"/>
            <xs:attribute name="valueNum" type="xs:float" use="optional"/>
            <xs:attribute name="valueMin" type="xs:float" use="optional"/>
            <xs:attribute name="valueMax" type="xs:float" use="optional"/>
            <xs:attribute name="qualifier" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute ref="readyForExtraction"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="description" nillable="true">
        <xs:annotation>
            <xs:documentation>Global description element. All elements that needs a description uses it
                                                                      </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="bardID">
        <xs:annotation>
            <xs:documentation>All bard identifiers will have this type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedLong"/>
    </xs:simpleType>
    <xs:element name="status">
        <xs:annotation>
            <xs:documentation>Status of the current object. Consuming applications are allowed to change the value of this object to 'Uploaded' once they have processed the object</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Approved"/>
                <xs:enumeration value="Rejected"/>
                <xs:enumeration value="Held"/>
                <xs:enumeration value="Uploaded"/>
                <xs:enumeration value="Mark for Deletion"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="link">
        <xs:annotation>
            <xs:documentation>Link to an Element in the dictionary</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" use="required">
                <xs:annotation>
                    <xs:documentation>The accept/format of the payload</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=experiments"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=experiment"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=results"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=result"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=cap"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=resultType"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=project"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=assay"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=dictionary"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=bardexport"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=stage"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=element"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=projects"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" type="xs:anyURI" use="required">
                <xs:annotation>
                    <xs:documentation>The URI to the object whose relationship to the current object is described by the rel attribute</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="rel" use="required">
                <xs:annotation>
                    <xs:documentation>Describes the link relation to the current object</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="related"/>
                        <xs:enumeration value="edit"/>
                        <xs:enumeration value="up"/>
                        <xs:enumeration value="next"/>
                        <xs:enumeration value="item"/>
                        <xs:enumeration value="self"/>
                        <xs:enumeration value="collection"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="title" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>A human readable text, could be used to display link in a UI</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="descriptorType">
        <xs:sequence>
            <xs:element name="elementStatus" type="xs:string"/>
            <xs:element minOccurs="0" name="label" type="xs:string"/>
            <xs:element minOccurs="0" ref="description"/>
            <xs:element minOccurs="0" name="synonyms" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="descriptorId" type="bardID" use="required"/>
        <xs:attribute name="parentDescriptorId" type="bardID"/>
        <xs:attribute name="elementId" type="bardID"/>
        <xs:attribute name="abbreviation" type="xs:string"/>
        <xs:attribute name="externalUrl" type="xs:string"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>
    <xs:element name="resultContextItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultContextItem" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>We include the group result context Id and the result context item Id so that the client can walk the tree from child to parent</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attributeId">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="valueId">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="resultContextItemId" type="bardID" use="required"/>
                        <xs:attribute name="groupResultContextId" type="bardID"/>
                        <xs:attribute name="qualifier" type="xs:string"/>
                        <xs:attribute name="valueDisplay" type="xs:string"/>
                        <xs:attribute name="valueNum" type="xs:double"/>
                        <xs:attribute name="valueMin" type="xs:double"/>
                        <xs:attribute name="valueMax" type="xs:double"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="ResultContextItem_Key">
            <xs:selector xpath="resultContextItem"/>
            <xs:field xpath="@resultContextItemId"/>
        </xs:key>
        <xs:keyref name="ResultContextItem_KeyRef" refer="ResultContextItem_Key">
            <xs:selector xpath="resultContextItem"/>
            <xs:field xpath="groupResultContextId"/>
        </xs:keyref>
    </xs:element>
    <xs:attribute name="readyForExtraction">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Ready"/>
                <xs:enumeration value="Started"/>
                <xs:enumeration value="Complete"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
</xs:schema>
