dataExport/test/integration/dataexport/experiment/experimentSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>All of the individual schema needed to do a data export</xs:documentation>
    </xs:annotation>
    <xs:annotation>
        <xs:documentation>All of the individual schema needed to do a data export</xs:documentation>
    </xs:annotation>
    <xs:element name="description" nillable="true">
        <xs:annotation>
            <xs:documentation>Global description element. All elements that needs a description uses it
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="1000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:simpleType name="bardID">
        <xs:annotation>
            <xs:documentation>All bard identifiers will have this type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedLong"/>
    </xs:simpleType>
    <xs:element name="status">
        <xs:annotation>
            <xs:documentation>Status of the current object. Consuming applications are allowed to change the value of
                this object to 'Uploaded' once they have processed the object
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Approved"/>
                <xs:enumeration value="Rejected"/>
                <xs:enumeration value="Held"/>
                <xs:enumeration value="Uploaded"/>
                <xs:enumeration value="Mark for Deletion"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="link">
        <xs:annotation>
            <xs:documentation>Link to an Element in the dictionary</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="type" use="required">
                <xs:annotation>
                    <xs:documentation>The accept/format of the payload</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=experiments"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=experiment"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=results"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=result"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=cap"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=resultType"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=project"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=assay"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=dictionary"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=bardexport"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=stage"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=element"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=projects"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=assayDoc"/>
                        <xs:enumeration value="application/vnd.bard.cap+xml;type=assays"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="href" type="xs:anyURI" use="required">
                <xs:annotation>
                    <xs:documentation>The URI to the object whose relationship to the current object is described by the
                        rel attribute
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="rel" use="required">
                <xs:annotation>
                    <xs:documentation>Describes the link relation to the current object</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="related"/>
                        <xs:enumeration value="edit"/>
                        <xs:enumeration value="up"/>
                        <xs:enumeration value="next"/>
                        <xs:enumeration value="item"/>
                        <xs:enumeration value="self"/>
                        <xs:enumeration value="collection"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="title" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>A human readable text, could be used to display link in a UI</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:attribute name="readyForExtraction">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Ready"/>
                <xs:enumeration value="Started"/>
                <xs:enumeration value="Complete"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:element name="label" type="xs:string"/>
    <xs:element name="experiments">
        <xs:annotation>
            <xs:documentation>Links to all experiment's that have not yet been uploaded by client.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element ref="link" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Link to next list of experiment's
                            application/vnd.bard.cap+xml;type=experiments
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>Number of experiments, ready for extraction</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="experiment">
        <xs:annotation>
            <xs:documentation>There are links to the assay and project that this experiment belongs.
                There are also links to the set of results, resultContextItems
                and the Result Hierarchy associated to this experiment

                The link with 'edit' relation should be used to set the status of this experiment to 'uploaded' once it
                is consumed
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="description"/>
                <xs:element minOccurs="0" ref="resultContextItems"/>
                <xs:element minOccurs="0" name="projectExperiments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="projectExperiment">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" ref="description"/>
                                        <xs:element minOccurs="0" name="precedingExperiment">
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                    <xs:element ref="link"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="bardID" use="required"
                                                        />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="link">
                                            <xs:annotation>
                                                <xs:documentation>Link to self
                                                    Link to results
                                                    Link to Project and Assay
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="externalReferences">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="externalReference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="externalAssayRef" type="xs:string"/>
                                        <xs:element name="externalSystem">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="systemUrl" type="xs:anyURI"/>
                                                </xs:sequence>
                                                <xs:attribute name="name" type="xs:string"
                                                              use="required"/>
                                                <xs:attribute name="owner" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="link">
                                            <xs:annotation>
                                                <xs:documentation>Link to self
                                                    Link to results
                                                    Link to Project and Assay
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="link">
                    <xs:annotation>
                        <xs:documentation>Link to self
                            Link to results
                            Link to Project and Assay
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="experimentName" type="xs:string" use="required"/>
            <xs:attribute name="holdUntilDate" type="xs:dateTime" use="optional"/>
            <xs:attribute name="runDateFrom" type="xs:dateTime" use="optional"/>
            <xs:attribute name="runDateTo" type="xs:dateTime" use="optional"/>
            <xs:attribute name="status" type="xs:string"/>
            <xs:attribute name="experimentId" type="bardID"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="results">
        <xs:annotation>
            <xs:documentation>The results of a given experiment.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="1" minOccurs="1">
                <xs:element maxOccurs="unbounded" ref="link">
                    <xs:annotation>
                        <xs:documentation>Link to next set of results
                            Link to parent experiment
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>The number of results associated with this object</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="result">
        <xs:annotation>
            <xs:documentation>An individual results. Has links back to parent experiment and to result types and
                elements from the dictionary
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="label"/>
                            <xs:element minOccurs="0" ref="link"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="substance">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element minOccurs="0" name="smiles" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="sid" type="xs:integer" use="required"/>
                        <xs:attribute name="substanceType" type="xs:string" use="optional"/>
                        <xs:attribute name="cid" type="xs:integer"/>
                        <xs:attribute name="molecularWeight" type="xs:double"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="resultContextItems"/>
                <xs:element minOccurs="0" name="resultHierarchies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resultHierarchy" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="parentResultId" type="xs:long"/>
                                    <xs:attribute name="hierarchyType">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Child"/>
                                                <xs:enumeration value="Derives"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="link" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Link to experiment and next list of results if any</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="resultId" type="bardID" use="required"/>
            <xs:attribute name="valueDisplay" type="xs:string" use="optional"/>
            <xs:attribute name="valueNum" type="xs:float" use="optional"/>
            <xs:attribute name="valueMin" type="xs:float" use="optional"/>
            <xs:attribute name="valueMax" type="xs:float" use="optional"/>
            <xs:attribute name="qualifier" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="status" type="xs:string" use="optional"/>
        </xs:complexType>
        <xs:key name="Result_Key">
            <xs:selector xpath="result"/>
            <xs:field xpath="@resultId"/>
        </xs:key>
        <xs:keyref name="Result_KeyRef" refer="Result_Key">
            <xs:selector xpath="result/resultHierarchies/resultHierarchy"/>
            <xs:field xpath="@parentResultId"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="resultContextItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultContextItem" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>We include the group result context Id and the result context item Id so that
                            the client can walk the tree from child to parent
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="attribute" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="label" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="valueControlled">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="link" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="label" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="resultContextItemId" type="bardID" use="required"/>
                        <xs:attribute name="parentGroup" type="bardID"/>
                        <xs:attribute name="qualifier" type="xs:string"/>
                        <xs:attribute name="valueDisplay" type="xs:string"/>
                        <xs:attribute name="valueNum" type="xs:double"/>
                        <xs:attribute name="valueMin" type="xs:double"/>
                        <xs:attribute name="valueMax" type="xs:double"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="ResultContextItem_Key">
            <xs:selector xpath="resultContextItems/resultContextItem"/>
            <xs:field xpath="@resultContextItemId"/>
        </xs:key>
        <xs:keyref name="ResultContextItem_KeyRef" refer="ResultContextItem_Key">
            <xs:selector xpath="resultContextItems/resultContextItem"/>
            <xs:field xpath="parentGroup"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
